.central-img-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left:0px;
    right:0px;
    top:30%;
    margin:5px auto 30px;
   
    img{
        display: block;
        width: 50%;
        height: 60vh;
        border-radius: 10px;
        border: 1rem solid white;
        object-fit: cover;
    }
}

@media(min-width:1500px){
    .central-img-container{
        top:20%;
        
       
        
    }
}




