@import 'header';
@import 'central-img';
@import 'leyenda';
@import 'icons';
@import 'quienes-somos';
@import 'despacho';
@import 'footer';

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

